@import url('https://fonts.googleapis.com/css?family=League Spartan');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    /* width: 80%; */
    width: 100%;
    height: 720px;
    /* border-radius: 10px;
        box-shadow: 0 4px 20px rgba(68, 135, 106, 0.7); */
    background: black;
    /* background: #566a3b; */
    /* margin: 50px auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
}

.banner img {
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 520px;
    margin-bottom: 40px;
}

.banner h1 {
    font-weight: bold;
    font-size: 46px;
    justify-content: bottom;
    color: white;
}

.banner p {
    margin: 10px 70px;
    letter-spacing: 1.1px;
    font-size: 16px;
    color: white;
}

.gallery {
    width: 100%;
    background-color: black;
    margin-bottom: 100px;
}

.gallery .contents {
    width: 100%;
    height: 50%;
    justify-content: space-around;
    display: flex;
    margin-bottom: 60px;
    /* margin-top: 60px; */
}

.gallery .contents div {
    width: 20%;
}

.gallery .contents div img {
    width: 100%;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(226, 124, 89, 0.7);
    transition: transform 0.3s;
}

.gallery .contents div img:hover {
    transform: translateY(-6px);
}