@import url('https://fonts.googleapis.com/css?family=League Spartan');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan"
}

section {
    position: relative;
    width: 100%;
    min-height: 17vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding-bottom: 70px;
}

.banner {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-align: center;
}

.banner img {
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 420px;
    margin-bottom: 20px;
}

.banner h2 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 18px;
    justify-content: bottom;
    color: red;
}

.banner p {
    margin: 10px 70px;
    letter-spacing: 1.5px;
    color: white;
}

.quote {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 80px;
}

.quote .textBox {
    position: relative;
    /* max-width: 500px; */
    margin-right: 200px;
}

.quote .textBox a {
    font-family: 'League Spartan';
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: red;
    color: #fff;
    border-radius: 10px;
    font-size: 23px;
    letter-spacing: 1px;
    text-decoration: none;
    /* box-shadow: 0 4px 20px rgba(215, 93, 93, 0.7); */
}

.quote .textBox a:hover {
    box-shadow: 0 5px 20px rgba(249, 177, 177, 0.7);
}

.quote .textBox h1 {
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
}

.quote .textBox h1 span {
    font-size: 2em;
    color: red;
}

.image {
    max-height: 300px;
    margin-bottom: 320px;
    margin-right: 60px;
}

.bann {
    background: black;
    display: flex;
    justify-content: left;
    padding-bottom: 90px;
}

.bann h2 {
    font-size: 1.8rem;
    color: red;
    margin-bottom: 50px;
}

.bann h2 span {
    color: white;
}

.bann img {
    width: 50%;
    margin-right: 150px;
}

.bann div {
    width: 30%;
    height: 50%;
    font-weight: bolder;
    text-align: justify;
    padding: 2%;
    align-self: center;
}

.bann p a {
    color: white;
    margin-top: 100px;
    text-decoration: underline;
}

.content {
    width: 100%;
    height: 400px;
    background-color: black;
}

.content .upper {
    width: 100%;
    height: 50%;
    justify-content: space-around;
    display: flex;
    margin-bottom: 100px;
    margin-top: 60px;
}

.content h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 50px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.content .upper div {
    width: 28%;
}

.content .upper div img {
    width: 110%;
    height: 280px;
    border-radius: 10px;
    /* box-shadow: 0 4px 20px rgba(215, 93, 93, 0.7); */
    transition: transform 0.3s;
}

.content .upper div img:hover {
    transform: translateY(-6px);
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 60px;
}

.sub_title {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 18px;
    background: black;
    color: red;
}

.sub_copy {
    max-width: 450px;
    text-align: center;
    margin-bottom: 53px;
    line-height: 1.5;
    background: black;
    color: white;
    font-size: 24px;
}

.form {
    margin-bottom: 25px;
    background: black;
}

.form_email {
    padding: 20px 25px;
    border-radius: 5px;
    border: 1px solid #cad3db;
    width: 431px;
    font-size: 18px;
    color: #0f121f;
    background: white;
}

.form_email:focus {
    outline: 1px solid red;
}

.form_button {
    background: red;
    padding: 10px;
    border: none;
    width: 244px;
    height: 65px;
    border-radius: 5px;
    font-size: 24px;
    color: white;
    /* box-shadow: 0 4px 20px rgba(215, 93, 93, 0.7); */
}

.form_button:hover {
    box-shadow: 0 10px 20px rgba(237, 179, 179, 0.7);
}

.notice {
    width: 345px;
    background: black;
}

.notice2 {
    color: white;
}


/* 
footer {
    background: #566a3b;
    padding: 70px 0;
    margin: 100px 0px;
    padding: 40px 30px;
    box-sizing: border-box;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

footer ul li {
    list-style: none;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 2px;
}

.footer-col image {
    width: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
} */

.about {
    box-sizing: border-box;
    width: 100%;
    pad: 78px 0px;
    background-color: black;
    padding-top: 80px;
}

.about img {
    height: auto;
    width: 450px;
    /* border-radius: 10px; */
    margin-top: 20px;
    border-radius: 5px;
    /* box-shadow: 0 4px 20px rgba(215, 93, 93, 0.7); */
}

.about-text {
    width: 550px;
    font-family: 'League Spartan';
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: red;
    font-style: 80px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 40px;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-style: 18px;
    margin-bottom: 45px;
    font-weight: bolder;
    font-size: 20px;
}